<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745110377327-t6ldhatlt8p7tqrp17j64ep6hvjfcqlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745110377327-t6ldhatlt8p7tqrp17j64ep6hvjfcqlf</string>
	<key>API_KEY</key>
	<string>AIzaSyCmOJgGZAdzer8zIUpG2nHiM_ZvSX68cik</string>
	<key>GCM_SENDER_ID</key>
	<string>745110377327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nmp.diarium</string>
	<key>PROJECT_ID</key>
	<string>antimedia-74490</string>
	<key>STORAGE_BUCKET</key>
	<string>antimedia-74490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745110377327:ios:09e92d84e343ebe544ce9a</string>
</dict>
</plist>